::ng-deep .map-info-control {
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 2px;

  .map-info-control-title {
    margin: 0;
    font-weight: 300;
  }

  .map-info-control-content {
    font-weight: 300;
    font-size: 16px;
  }
}
