@import '../../shared/vars';
@import '../../../theme';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: 1;
}

mat-toolbar {
  width: 100%;
  height: 100%;
  background: white;
}

.left {
  display: flex;
  align-items: center;
  margin-right: auto;

  .logo {
    height: 30px;
    width: 30px;
    cursor: pointer;
    outline: none;
    fill: darken(mat-color($ds-app-accent), 40);
  }
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;

  .menu {
    display: flex;
    align-items: center;
    cursor: pointer;

    .username {
      margin-right: 10px;
      font-weight: 300;
    }

    .avatar-container {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;

      .avatar {
        width: 100%;
        height: auto;
      }

      .avatar-placeholder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 100%;
          height: 100%;
          fill: darken(mat-color($ds-app-accent), 40);
        }
      }
    }
  }
}

.logout {
  margin-left: auto;
}
