<h1 class="title">{{product?.name}}</h1>
<div class="content-row">
  <div class="card mat-elevation-z3 purchases-by-source">
    <h2 class="card-title">Purchases number by source</h2>
    <div class="card-content">
      <app-line-chart [chartData]="chartsData.purchasesBySource"></app-line-chart>
    </div>
  </div>
</div>
<div class="content-row">
  <div class="card mat-elevation-z3 purchases-by-device">
    <h2 class="card-title">Purchases by device type</h2>
    <div class="card-content">
      <app-donut-chart [chartData]="chartsData.purchasesByDevice"></app-donut-chart>
    </div>
  </div>
  <div class="card mat-elevation-z3 reviews"></div>
</div>
